body
{width: 950px;
margin: auto;
margin-top: 0px;
margin-bottom: 10px;
background-color: #485766;
background-image: url("../img/bg_pattern.jpg");
background-repeat: repeat;
}

#en_tete
{
width: 950px;
height: 880px;
background-image: url("../img/yonder_study.jpg");
background-repeat: no-repeat;
background-position: top right;
margin: auto;
margin-bottom: 0px;
}

.top_home
{
padding: 0px;
margin-left: 535px;
position:absolute;
top:35px;
}

#link_home
{
padding: 0px;
width: 53px; 
height: 27px;
border: none;
}

.top_onlinecomics
{
padding: 0px;
margin-left: 658px;
position:absolute;
top:77px;
}

#link_onlinecomics
{
padding: 0px;
width: 117px; 
height: 31px;
border: none;
}

.content
{
width: 500px;
padding: 0px;
margin-left: 0px;
position:absolute;
top:170px;
color: white;
text-align: justify;
}

.volume
{
background-image: url("../img/box_middle.jpg");
background-repeat: repeat;
}

p
{
padding: 10px;
margin: 0px;
}

img
{
border: none;
margin: 0px;
margin-right: 10px;
padding: 0px;
float: left;
}

b
{
color: white;
}

a
{
font-size: 13px;
font-family: Verdana, Times New Roman, serif;
color: #4A7C7F;
font-weight: bold;
text-decoration:none;
}

a:hover
{
color: #6DA1A4;
text-decoration:none;
}

.text_title
{
color: #333438;
font-size: 19px;
font-family: Arial Black, Verdana, Times New Roman, serif;
font-weight: bold;
}

.text
{
color: #364A73;
font-size: 13px;
font-family: Verdana, Times New Roman, serif;
}

.text2
{
color: #16233D;
font-size: 13px;
font-family: Verdana, Times New Roman, serif;
font-weight: bold;
}

.text_subtitle
{
font-size: 15px;
font-family: Verdana, Times New Roman, serif;
color: #A74329;
font-weight: bold;
}

.text4
{
font-size: 16px;
color: #A74329;
font-weight: bold;
}

.text_quote
{
color: #856830;
font-size: 13px;
font-family: Verdana, Times New Roman, serif;
}

/*INFOBULLES */


a.info {
   position: absolute;
   left: 0px;
   top: 0px;
   bottom: 545px;
   text-decoration: none;
}
a.info span {
   display: none; /* on masque l'infobulle */

}
a.info:hover {
   background: none; /* correction d'un bug IE */
   z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
}
a.info:hover span {
   display: inline; /* on affiche l'infobulle */

}

img.floatLeft5 { 
margin: 0px; 
border: none;
position: absolute;
 top: 0px; /* on positionne notre infobulle */
 left: 0px;  
}